{% extends 'navbar.html'%}

{%block nav%}


{%if messages%}
    {%for i in messages%}
        {%if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{i}}</strong>
            </div>
        {%endif%}
        {%if i.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{{i}}</strong>
        </div>
        {%endif%}
    {%endfor%}
{%endif%}


<div class="container jumbtron mt-5 ">
    <div class="row mx-5 ">
        <div class="col-5 my-5">
            <img src="{{data.image.url}}" height="250px" width="300px" alt="not found" class="my-5 mx-5">
        </div>
        <div class="col-5 my-5">
            <ul class="list-group">
                <li class="list-group-item">Name: <b>{{data.name}}</b></li>
                <li class="list-group-item">Type: <b>{{data.type}}</b></li>
                <li class="list-group-item">Details: <b>{{data.description}}</b></li>
                <li class="list-group-item">Price: <b>Rs.{{data.price}}</b></li>
                <li class="list-group-item">
                    <a href="{% url 'acart' data.id%}" onclick="return confirm('Add to Cart?')" class="btn btn-secondary">Add To Cart    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg></a>
                
                </li>
                <li class="list-group-item">
                    <p>
                        <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Add Review
                        </a>
                      </p>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <form action="{% url 'areview' data.id %}" method="post">
                                {% csrf_token %}
                                    {{form}}
                                <button class="btn btn-dark my-3 ">Send Review</button>
                            </form> 
                          <!-- Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger. -->
                        </div>
                      </div>
                </li>
            </ul>
        </div>

    </div>
</div>



<div class="mt-5 container">
    <p style="font-size: 24px; color: aliceblue;" class="text-center border border-dark bg-dark">All Reviews.....  </p>
            {% for i in review%}
                <div  class="mt-3 border border-dark ">
                    <p class="mx-1 my-3" style="font-size: 17px;">{{i.user.first_name}}{{i.user.last_name}} </p>
                    <h5  class="mx-5 ">{{i.review}}</h5>
                    <p class="mx-1">{{i.date}}</p>
                    <br><br>
                </div>
            {%endfor%}



  
</div>
<br>
<br>
<p class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cc-circle" viewBox="0 0 16 16">
    <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.408 5.89c-.83 0-1.318.64-1.318 1.753v.742c0 1.108.479 1.727 1.318 1.727.69 0 1.138-.435 1.187-1.05h1.147v.114c-.058 1.147-1.029 1.938-2.343 1.938-1.612 0-2.518-1.028-2.518-2.729v-.747c0-1.7.914-2.75 2.518-2.75 1.319 0 2.29.812 2.343 1.999v.11H6.595c-.049-.638-.506-1.108-1.187-1.108Zm5.404 0c-.831 0-1.319.64-1.319 1.753v.742c0 1.108.48 1.727 1.319 1.727.69 0 1.138-.435 1.186-1.05h1.147v.114c-.057 1.147-1.028 1.938-2.342 1.938-1.613 0-2.518-1.028-2.518-2.729v-.747c0-1.7.914-2.75 2.518-2.75 1.318 0 2.29.812 2.342 1.999v.11h-1.147c-.048-.638-.505-1.108-1.186-1.108Z"/>
  </svg>   EGADGETS</p>
{%endblock nav%}